<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Revv Movie Rentals</title>
  <link rel="stylesheet" href="/static/style.css"  />
  
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

  <header>
    <h2 class="iglo"><strong> -- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A1A Movie Rentals</strong></h2>
    <div class="logo"></div>
    
    <img src="/static/movie hub.jpeg" width="50px" height="50px" class="im1">
    <nav>
      <a href="#">Movie Rental</a>
      <a href="#">Movie Subscription</a>
      <a href="#">FAQs</a>  
      <a href="#">HelpDesk</a>
    </nav>
  </header>

  <main>
    <section class="hero">
      <div class="left-box">
        <form method="POST">
        <div class="tab">
          <button class="active">Rental<br><small>For hours & days</small></button>
          <button>Subscriptions<br><small>For more than 7 days</small></button>
        </div>
        <div class="rental-box">
          <h2 >RENT A Movie TODAY</h2>
          <p></p>
          <form method="post">
          <H1><p><strong><CENTER>SIGN- IN</CENTER></strong></p></H1>
          <div class="input-box">
            <span class="location-icon">📍</span>
            <label>USERNAME</label>&nbsp;
            <input type="text" name="username" required >
            </div>

            <div class="input-box">
              <span class="location-icon">📍</span>
              <label>EMAIL</label>&nbsp;
              <input type="email" name="email" required >
              </div>
              
            <div class="input-box">
              <span class="location-icon">📍</span>
            <label>PASSWORD</label>&nbsp;

            <input type="password" name="password" required>
          </div>
          <button type="submit" class="no">Register</button>
</form>
<br>
<h5 class="don" >Already have an account? <u><a href="{{ url_for('login') }}" class="don">Login here</a></h5>
        </div>
      </div>
     
     
     
    </section>
  </main>
</body>
</html>